<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Helpbutton_Page_0-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,702},{353,320}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{353,320}}</string>
                <key>sourceSize</key>
                <string>{389,320}</string>
            </dict>
            <key>Helpbutton_Page_1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,702},{353,320}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{353,320}}</string>
                <key>sourceSize</key>
                <string>{389,320}</string>
            </dict>
            <key>Helpbutton_Page_2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,347},{353,320}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{353,320}}</string>
                <key>sourceSize</key>
                <string>{389,320}</string>
            </dict>
            <key>Maps_Cloud_0-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,966},{118,48}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{118,48}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>Maps_Cloud_1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,609},{97,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{97,45}}</string>
                <key>sourceSize</key>
                <string>{107,73}</string>
            </dict>
            <key>Maps_Collectmodebutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,829},{135,124}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{135,124}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>Maps_Uibackbutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,201},{78,49}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{78,49}}</string>
                <key>sourceSize</key>
                <string>{114,89}</string>
            </dict>
            <key>Maps_background-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Maps_luckyboxbutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{192,108}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{192,108}}</string>
                <key>sourceSize</key>
                <string>{242,154}</string>
            </dict>
            <key>Maps_sharebutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,564},{131,105}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{131,105}}</string>
                <key>sourceSize</key>
                <string>{189,169}</string>
            </dict>
            <key>Maps_storebutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,829},{174,96}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{174,96}}</string>
                <key>sourceSize</key>
                <string>{190,124}</string>
            </dict>
            <key>UI_Closepagebutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,94},{53,66}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>UI_Closepagebutton_pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,281},{49,64}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{49,64}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>UI_Formerpagebutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,761},{47,38}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{47,38}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>UI_Formerpagebutton_pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,838},{31,24}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,37},{31,24}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>UI_GamecenterButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,479},{76,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{76,67}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>UI_GamecenterButton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,479},{76,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{76,67}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>UI_HelpButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,551},{70,119}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{70,119}}</string>
                <key>sourceSize</key>
                <string>{102,151}</string>
            </dict>
            <key>UI_HelpButton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,479},{70,131}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{70,131}}</string>
                <key>sourceSize</key>
                <string>{102,151}</string>
            </dict>
            <key>UI_MusicButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,653},{34,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{34,31}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>UI_MusicButton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,557},{36,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>UI_MusiccontrolButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,48},{55,44}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{55,44}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>UI_MusiccontrolButton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{55,44}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{55,44}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>UI_Musicline-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,838},{126,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{126,23}}</string>
                <key>sourceSize</key>
                <string>{172,45}</string>
            </dict>
            <key>UI_Nextpagebutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,162},{51,37}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{51,37}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>UI_Nextpagebutton_pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,801},{35,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{35,25}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>UI_PlayButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,444},{118,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{152,108}</string>
            </dict>
            <key>UI_PlayButton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,324},{118,76}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{118,76}}</string>
                <key>sourceSize</key>
                <string>{152,108}</string>
            </dict>
            <key>UI_SettingButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,623},{76,59}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{76,59}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>UI_SettingButton_Background-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,347},{248,130}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{248,130}}</string>
                <key>sourceSize</key>
                <string>{264,152}</string>
            </dict>
            <key>UI_SettingButton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,548},{76,59}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{76,59}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>UI_SoundButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,801},{36,25}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{36,25}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>UI_SoundButton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,606},{36,45}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{36,45}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>UI_SoundcontrolButton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,702},{57,48}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,37},{57,48}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>UI_SoundcontrolButtton_Pressed-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,966},{57,48}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{57,48}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>homepage_background-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>loading-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23488f697f7b5162d3d751ca67252585$</string>
            <key>textureFileName</key>
            <string>ui_texture.png</string>
        </dict>
    </dict>
</plist>
